/* _survey.scss */

.console {
	margin: 0px auto;
	position: relative;
	top: 25px;
	width: 65%;
	background-color: $gray;
	border-radius: 40px;
	padding: 15px;
	font-family: "Cutive Mono", serif;
	p:before {
		content: ">>";
	}
	p {
		margin: 0px;
	}
}

#console-container {
	color: white;
	height: 510px;
	background-color: black;
	border-radius: 25px;
	padding: 15px 15px 0px 15px;
}

#output {
	height: 470px;
	overflow: scroll;
}

.action {
	color: $skyblue;
}

form {
	margin: 0px auto;
	border-radius: 40px;
	text-align: center;
	width: 380px;
	background-color: $skyblue;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 13px;
  margin: 3px 1px 0px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  font-size: 12pt;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px $nightblue;
  padding: 3px 0px 3px 13px;
  margin: 3px 1px 0px 0px;
  border: 1px solid $nightblue;
}