/* _global.scss */

$skyblue: #8DE9F7;
$nightblue: #1C9DED;
$gray: #505657;

body {	
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 12pt;
	a {
		color: $skyblue;
	}

	a:hover {
		color: darken($skyblue, 20%);
	}

	margin: 0px auto;
	color: $gray;
	strong {
		font-weight: 700;
	}
	em {
		font-style: italic;
	}
	.light {
		font-weight: 300;
	}
}

.modal {
	position: absolute;
	text-align: center;
	padding: 10px;
	height: auto;
	background-color: lighten($skyblue, 10%);
	border-radius: 15px;
	opacity: 0.4;
	z-index: 999;
	top: 25%;
	display: none;
	h2 {
		font-weight: 700;
		font-size: 18pt;
	}

	h5 {
		font-weight: 300;
		font-size: 8pt;
	}
}

.badge-modal {
	width: 200px;
	left: 50%;
	margin-left: -100px;
}

.leader-modal {
	width: 450px;
	left: 50%;
	margin-left: -225px;	
}

.next {
	margin-top: 25px;
	display: none;
}